<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JILIPE Platform</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.metro.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>

    <div class="navbar navbar-light py-0 navbar-expand-lg py-md-0 bg-transparent">
        <div class="container">
            <div class="navbar-hed">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-brand"><img src="~/Images/crowdfund.jpg" />&nbsp JILIPE Platform</div>
            </div>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Legal", "Legal", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("CSR", "CSR", "Home", null, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year JILIPE Platform</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
