@model AgriInvestment.Core.ViewModels.InvestmentProductManagerViewModel

<div class="k-edit-form-container">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.InvestmentsCount)

    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.InvestmentPeriod)
        </div>
        <div class="k-edit-field">
            @Html.Kendo().NumericTextBoxFor(model => model.InvestmentPeriod).Format("# Months")
            @Html.ValidationMessageFor(model => model.InvestmentPeriod)
        </div>
    </div>
    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.ProductCategoryId)
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(model => model.ProductCategoryId)
                .DataValueField("Id")
                .DataTextField("Name")
                .BindTo((List<Jilipe.Core.ViewModels.InvestmentCategoryManagerViewModel>)ViewData["InvestmentCategories"])
            )
            @Html.ValidationMessageFor(model => model.ProductCategoryId)
        </div>
    </div>
</div>
