@model Jilipe.Core.ViewModels.ProductCategoryManagerViewModel

<div class="k-edit-form-container">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ProductsCount)

    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="k-edit-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="k-edit-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
</div>
